/* Start Global Rules */
  * {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  a {
    text-decoration: none;
  }
  body {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
  }
/* End Global Rules */
/* Start Card */
  .container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: hsl(216, 50%, 16%);
    width: 350px;
    padding: 25px;
    border-radius: 16px;
  }
/* Start The Header Of The Card */
  .container > .image {
    position: relative;
    overflow: hidden;
  }
  .container > .image::before { 
    content: url(images/icon-view.svg);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(0 255 247 / 55%);
    width: 0%;
    height: 0%;
    opacity: 0;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.5s;
  }
  .container >.image:hover::before {
    width: 301px;
    height: 301px;
    margin-top: -1px;
    opacity: 1;
  }
  .container > .image img {
    border-radius: 8px;
    width: 100%;
  }
  .container h2 {
    color: hsl(0, 0%, 100%);
    padding: 20px 0;
    font-weight: 600;
    font-size: 21px;
    transition: color 0.5s;
  }
  .container h2 > a {
    color: hsl(0, 0%, 100%);
    transition: color 0.5s;
  }
  .container h2:hover,
  .container h2:hover a{
    color: hsl(178, 100%, 50%);
  }
/* End The Header Of The Card */
/* Start The Body Of The Card */
  .container .content > p {
    font-size: 18px;
    color: hsl(215, 51%, 70%);
    line-height: 1.5;
    font-weight: 300;
  }
  .container .content .info {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 25px 0;
  }
  .container .content .info span {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container .content .info > span:first-of-type {
    color: hsl(178, 100%, 50%);
    font-weight: 600;
  }
  .container .content .info > span:last-of-type {
    color: hsl(215, 51%, 70%);
    font-weight: 300;
  }
  .container .content .info span > svg {
    margin: 1px 7px 0 0;
  }
/* End The Body Of The Card */
/* Start The Footer Of The Card */
  .container .content .details {
    border-top: 1px solid hsl(215, 32%, 27%);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 15px 0 10px;
  }
  .container .content .details img {
    width: 30px;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 50%;
    margin-right: 15px;
  }
  .container .content .details > p {
    color: hsl(215, 51%, 70%);
  }
  .container .content .details > p > span {
    color: white;
    transition: 0.5s;
  }
  .container .content .details > p > span:hover {
    color: hsl(178, 100%, 50%);
  }
/* End The Footer Of The Card */
/* End Card */