/* Start Global Rules */
  * {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  a {
    text-decoration: none;
  }
  ul {
    list-style: none;
  }
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
  }
/* End Global Rules */
/* Start hidden H1 */
  .hidden {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important; 
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
  }
/* Start Card */
  .container {
    background-color: hsl(216, 50%, 16%);
    max-width: 350px;
    padding: 25px;
    border-radius: 16px;
  }
/* Start The Header Of The Card */
  .image {
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    display: block;
  }
  .image::before { 
    content: url(images/icon-view.svg);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(0 255 247 / 55%);
    width: 0%;
    height: 0%;
    opacity: 0;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.25s;
  }
  .image:hover::before {
    width: 100%;
    height: 100%;
    opacity: 1;
  }
  .image img {
    border-radius: 8px;
    width: 100%;
  }
  .title > a {
    display: block;
    color: hsl(0, 0%, 100%);
    padding: 25px 0 0;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 1.375rem;
    transition: color 0.3s;
  }
  .title:hover a{
    color: hsl(178, 100%, 50%);
  }
/* End The Header Of The Card */
/* Start The Body Of The Card */
  .content > p {
    font-size: 1.125rem;
    color: hsl(215, 51%, 70%);
    line-height: 1.5;
    font-weight: 300;
  }
  .info {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 21px 0;
  }
  .info li {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .info > .price p{
    color: hsl(178, 100%, 50%);
    font-weight: 600;
    margin-left: 7px;
  }
  .info > .time p{
    color: hsl(215, 51%, 70%);
    font-weight: 400;
    margin-left: 7px;
  }
/* End The Body Of The Card */
/* Start The Footer Of The Card */
  .details {
    border-top: 1px solid hsl(215, 32%, 27%);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 15px;
    margin-bottom: 10px;
  }
  .details img {
    width: 33px;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 50%;
    margin-right: 16px;
  }
  .details > p {
    color: hsl(215, 51%, 70%);
    font-weight: 400;
    font-size: 1rem;
  }
  .details > p > a {
    color: white;
    transition: 0.3s;
  }
  .details > p > a:hover {
    color: hsl(178, 100%, 50%);
  }
/* End The Footer Of The Card */
/* End Card */